/* General */

html {
    height: 100%;
}

body {
    background-color: cadetblue;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul {
    list-style: none;
}

li {
    display: inline-block
}

a {
    color:black;
}

h3 {
    text-align: center;
    color: white;
    font-size: 4em;
}

h4 {
    margin: 0 0 1em 0;
}

/* Navigation Bar */

header {
    margin: 0;
    padding: 0;
    width: 100%;
}

nav {
    text-align: center;
    background-color: lightsteelblue;
    top: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    overflow: hidden;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    float: center;
    width: 24%
}

nav a {
    text-decoration: none;
    padding: 14px 16px;
    text-align: center;
    display: block;
    font-weight: 700;
}

nav li:not(#nav_name):hover {
    background-color: cadetblue;
    transition: 0.5s;
}

nav a:link, nav a:visited {
    color: white;
}

#nav_name {
    font-size: 1.5em;
    font-weight: 700;
    padding: 10px 20px;
    color:azure;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

/* Cover */
#cover {
    text-align: center;
    height: 75%;
    position: relative;
    padding-top: 70px;
    padding-bottom: 90px;
    margin-bottom: 120px;
    background: linear-gradient(to bottom, lightsteelblue, cadetblue);
    }

#cover h1 {
    font-size: 5em;
    color: white;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    line-height: 1.3;
    margin-bottom: 12px 0 0;
}

.cover_links {
    margin-top: 20px;
}

.cover_links li {
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
}

.cover_links li:hover {
    background-color: rgba(255, 255, 255, 0.3);
    transition: 0.3s;
}

.cover_links a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.cover_links li:hover p {
    opacity: 1;
}

.cover_links p {
    opacity: 0;
    transition: 0.3s;
    margin: 0;
    color: black;
}

.cover_links img {
    height: 60px;
    width: 60px;
    margin: 5px;
    filter: brightness(0);
    transition: transform 0.5s cubic-bezier(.34, 1.56, .64, 1);
}

.cover_links li:hover img {
    transform: translateY(-6px);
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-25px);
    }
}

.gudetama_waving {
    height: 150px;
    width: auto;
    margin-top: 20px;
}

.gudetama_waving:hover {
    animation: bounce 1.1s cubic-bezier(.34, 1.56, .64, 1) infinite;
}
/* About  */

#about {
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto 20px auto;
    padding-top: 50px;
}

#about code {
    font-size: medium;
}

#about p {
    font-size: large;
    margin-top: 0;
}

#about p span {
    display: inline;
}

#profile_pic {
    height: 500px;
    width: auto;
    border: 5px solid wheat;
    border-radius: 200px;
    margin-left: 20px;
}

#about_info {
    max-width: 600px;
    margin-right: 20px;
    text-align: left;
    color: white
}

#about_info h3 {
    text-align: left;
    margin: 10px 0 .25em 0;
}

/* Projects */
.project_gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5em;
}

.project_item {
    display: flex;
    flex-direction: column;
    width: 250px;
    background-color: wheat;
    padding: 1em;
    border-radius: 10px;
}

.project_item p{
    margin: 0.75em 0;
}

.project_screenshot {
    width: 250px;
    height: 150px;
    object-fit: cover;
    object-position: top;
    border-radius: 5px;
}

.project_links {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
}

.project_links a {
    display: flex;
    align-items: center;
    gap: 0.3 em;
    font-style: italic;
    color: black;
}

.project_link_icon {
    height: 20px;
    width: 20px;
}

/* Footer */
footer {
    text-align: center;
    padding-top: 10px;
    background-color: lightsteelblue;
    width: 100%;
    clear:both;
    margin-top: 50px;
}

footer img {
    width: 40px;
    height: 40px;
    margin: 10px;
    transition: transform 0.5s cubic-bezier(.34, 1.56, .64, 1);
}

footer img:hover {
    transform: translateY(-6px);
}